
@import url('./panoramic-viewer.css');

:root {
    --primary-color: #000000;
    --secondary-color: #070707;
    --text-color: #b1b1b1;
    --light-bg: #F5F5F5;
  }
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    scroll-behavior: smooth;
  }
  header {
    background-color: var(--primary-color);
    color: white;
    /* padding: 1rem 0; */
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .logo {
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    img {
      width: 50px;
    }
    p {
      margin-left: 1rem;
    }
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  nav ul li {
    margin-left: 2rem;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  nav ul li a:hover {
    color: var(--light-bg);
  }
  .section {
    padding: 5rem 2rem;
  }
  section#virtual-tour {
    padding: 5rem 0 0 0;
  }
  section#disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div#disclaimer p {
    align-content: center;
    color: var(--secondary-color);
    a {
      color: var(--secondary-color);
      font-weight: bold;
    }
  }
  .section h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 2rem 0;
  }
  @media (max-width: 768px) {
    nav ul {
      display: none;
    }
    .service-card {
      width: calc(50% - 2rem);
    }
  }